body {
  background: black;
  color: white;
  display: grid;
  @media only screen and (min-width: 610px) {
    grid-template-columns: 1fr 600px 1fr;
  }
  @media only screen and (max-width: 610px) {
    grid-template-columns: 1fr;
  }
}

button {
  margin: 5px;
}
input {
  margin: 5px;
}

details {
  margin: 5px;
}

svg {
  width: 100%;
  height: auto;
}

main {
  
}
